data collection with franka/B07LabTrials
data collection with franka/ViconLab/fibrescope/input
data collection with franka/ViconLab/fibrescope/output
data collection with franka/ViconLab/webcam/input
data collection with franka/ViconLab/webcam/output
data collection with franka/ViconLab/viconTrials/vicon/results
data collection with franka/ViconLab/viconTrials/vicon/data/viconsystemfiles
opticalflowenv
data collection with franka/ViconLab/fibrescope/calibrationcheckboard
outputs